@import url(project-page.css);

/* 
  CSS Variables: 
  These variables define common colors and spacing values for consistency.
*/
#stay {
  --primary-color: #009FD6; /* Main accent color: used for page title and section titles */
  --subheading-color: #3f3d56; /* Subheading color: used for subheadings */
  --text-color: #555; /* Default text color */
  --heading-color: #333; /* Main heading text color */
  --bg-color: #ffffff; /* Background color */
  --primary-color-transparent-50: rgba(96, 93, 236, 0.5); /* 50% transparent */
  --space-extralarge: 80px;
  --space-large: 50px; /* Large spacing for sections */
  --space-medium: 30px; /* Medium spacing for related elements */
  --space-small: 20px; /* Small spacing for close elements */
  --space-micro: 10px; /* Minimal spacing for micro adjustments */
  --p-fontsize: 1.1em;
  --caption-fontsize: 1em;
}

.intro-image {
  max-width: 300px;
}

.approach-list {
  padding-inline-start: 40px;
}

.spaced-paragraph {
  margin-bottom: var(--space-medium);
}

.spaced-content h3 {
  margin-bottom: var(--space-micro);
}

.case-study-title {
  @media (max-width:576px) {
    font-size: 2.4em;
  }
}
.case-study-subtitle {
  @media (max-width:576px) {
    font-size: 1.4em;
  }

}