.footer {
  background-color: #333; /* Dark gray background */
  color: #fff; /* White text */
  padding: 10px 20px; /* Adds space inside the footer */
  text-align: center; /* Centers all content */
  font-size: 14px;
  padding: 3rem 0;
}

.footer-contact {
  margin-top: 5px; /* Adds space between the copyright and contact */
}

.footer p {
  margin: 0; /* Removes default paragraph margins */
}

.footer-contact > a {
  color: var(--primary-color);
}